name: CI - Enuma Elish (.NET 9)

on:
  push:
    branches: [ "YTB-Master", "develop", "YTB" ]
  pull_request:
    branches: [ "YTB-Master", "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        project:
          - YTBContentBuilder/YTBContentBuilder.csproj
          - YotsubaEngine/YotsubaEngine.csproj
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup .NET 9
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
        dotnet-quality: 'preview'

    - name: Cache NuGet
      uses: actions/cache@v4
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
          ${{ runner.os }}-nuget-

    - name: Restore
      run: dotnet restore ${{ matrix.project }}

    - name: Build
      run: dotnet build ${{ matrix.project }} --configuration Release --no-restore
